<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.staff.achievement.mapper.GradeTalentMapper">
    <select id="queryAll" resultType="com.zzu.staff.achievement.entity.GradeTalent">
        select * from grade_talent
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultType="com.zzu.staff.achievement.entity.GradeTalent">
        select * from grade_talent where grade_id = #{id}
    </select>

    <insert id="insert" parameterType="com.zzu.staff.achievement.entity.GradeTalent">
        insert into grade_talent (grade_id, talent_id,grade_url,talent_grade)
        values (#{gradeId},#{talentId},#{gradeUrl},#{talentGrade})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from grade_talent where grade_id = #{id}
    </delete>

    <delete id="deleteByGradeId" parameterType="java.lang.Long">
        delete from grade_talent where grade_id = #{id}
    </delete>

    <update id="update" parameterType="com.zzu.staff.achievement.entity.GradeTalent">
        update grade_talent
        <trim prefix="set" suffixOverrides=",">
            <if test="talentId!=null">
                talent_id = #{talentId},
            </if>
            <if test="gradeUrl!=null and gradeUrl!=''">
                grade_url = #{gradeUrl},
            </if>
            <if test="talentGrade!=null">
                talent_grade = #{talentGrade}
            </if>
        </trim>
        where grade_id = #{gradeId}
    </update>
</mapper>