<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.staff.achievement.mapper.GradeProMapper">
    <select id="queryAll" resultType="com.zzu.staff.achievement.entity.GradePro">
        select * from grade_pro
    </select>

    <select id="queryByGradeId" parameterType="java.lang.Long" resultType="com.zzu.staff.achievement.entity.GradeProParam">
        select * from grade_pro,index_pro where grade_id = #{id} and pro_level_id = pro_level
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultType="com.zzu.staff.achievement.entity.GradePro">
        select * from grade_pro where program_id = #{id}
    </select>

    <insert id="insert" parameterType="com.zzu.staff.achievement.entity.GradePro">
        insert into grade_pro (grade_id, pro_name, pro_num, pro_level, host, pro_url,pro_grade)
        values (#{gradeId},#{proName},#{proNum},#{proLevel},#{host},#{proUrl},#{proGrade})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from grade_pro where program_id = #{id}
    </delete>

    <delete id="deleteByGradeId" parameterType="java.lang.Long">
        delete from grade_pro where grade_id = #{id}
    </delete>

    <update id="update" parameterType="com.zzu.staff.achievement.entity.GradePro">
        update grade_pro
        <trim prefix="set" suffixOverrides=",">
            <if test="proName!=null and proName!=''">
                pro_name = #{proName},
            </if>
            <if test="proNum!=null and proNum!=''">
                pro_num = #{proNum},
            </if>
            <if test="proLevel!=null">
                pro_level = #{proLevel},
            </if>
            <if test="host!=null">
                host = #{host},
            </if>
            <if test="proUrl!=null and proUrl!=''">
                pro_url = #{proUrl},
            </if>
            <if test="proGrade &gt;=0">
                pro_grade = #{proGrade},
            </if>
        </trim>
        where program_id = #{programId}
    </update>
</mapper>