<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.staff.achievement.mapper.GradeStuMapper">
    <!--开启mybatis二级缓存，开启后entity类要实现Serializable序列化接口-->
    <!--    <cache></cache>-->

    <select id="queryAll" resultType="com.zzu.staff.achievement.entity.GradeStu">
        select * from grade_stu
    </select>

    <select id="queryByGradeId" parameterType="java.lang.Long" resultType="com.zzu.staff.achievement.entity.GradeStu">
        select * from grade_stu where grade_id = #{id}
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultType="com.zzu.staff.achievement.entity.GradeStu">
        select * from grade_stu where stu_grade_id = #{id}
    </select>

    <insert id="insert" parameterType="com.zzu.staff.achievement.entity.GradeStu">
        insert into grade_stu (grade_id, stu_name, stu_id, boxin, bote, stu_grade)
        values (#{gradeId},#{stuName},#{stuId},#{boxin},#{bote},#{stuGrade})
    </insert>

    <delete id="deleteByGradeId" parameterType="java.lang.Long">
        delete from grade_stu where grade_id = #{id}
    </delete>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from grade_stu where stu_grade_id = #{id}
    </delete>

    <update id="update" parameterType="com.zzu.staff.achievement.entity.GradeStu">
        update grade_stu
        <trim prefix="set" suffixOverrides=",">
            <if test="stuName!=null and stuName!=''">
                stu_name = #{stuName},
            </if>
            <if test="stuId!=null and stuId!=''">
                stu_id = #{stuId},
            </if>
            <if test="boxin!=null">
                boxin = #{boxin},
            </if>
            <if test="bote!=null">
                bote = #{bote},
            </if>
            <if test="stuGrade!=null">
                stu_grade = #{stuGrade},
            </if>
        </trim>
        where stu_grade_id = #{stuGradeId}
    </update>
</mapper>