<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.staff.achievement.mapper.GradeResultMapper">
    <select id="queryAll" resultType="com.zzu.staff.achievement.entity.GradeResult">
        select * from grade_result
    </select>

    <select id="queryByGradeId" parameterType="java.lang.Long" resultType="com.zzu.staff.achievement.entity.GradeResult">
        select * from grade_result where grade_id = #{id}
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultType="com.zzu.staff.achievement.entity.GradeResult">
        select * from grade_result where result_id = #{id}
    </select>

    <insert id="insert" parameterType="com.zzu.staff.achievement.entity.GradeResult">
        insert into grade_result (grade_id, result_name, result_num, result_grade)
        values (#{gradeId},#{resultName},#{resultNum},#{resultGrade})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from grade_result where result_id = #{id}
    </delete>

    <update id="update" parameterType="com.zzu.staff.achievement.entity.GradeResult">
        update grade_result
        <trim prefix="set" suffixOverrides=",">
            <if test="resultName!=null and resultName=''">
                result_name = #{resultName},
            </if>
            <if test="resultNum!=null">
                result_num = #{resultNum},
            </if>
            <if test="resultGrade!=null">
                result_grade = #{resultGrade},
            </if>
        </trim>
        where result_id = #{resultId}
    </update>
</mapper>