<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.staff.achievement.mapper.UserMapper">

    <select id="queryAll" resultType="com.zzu.staff.achievement.entity.User">
        select * from user
    </select>

    <select id="queryByTel" resultType="com.zzu.staff.achievement.entity.User">
        select * from user where phone_number = #{tel}
    </select>

    <select id="queryByDepartment" parameterType="java.lang.Integer" resultType="com.zzu.staff.achievement.entity.User">
        select * from user where department_id = #{id}
    </select>

    <select id="queryByIdCard" resultType="com.zzu.staff.achievement.entity.User">
        select * from user where idcard = #{idcard}
    </select>

    <select id="queryUserParam" resultType="com.zzu.staff.achievement.entity.UserParam">
        select * from user,user_grade where user_id = u_id and phone_number = #{tel}
    </select>

    <select id="queryAllParam" resultType="com.zzu.staff.achievement.entity.UserParam">
        select a.*,staff.composite_index
        from
        (select `user`.*,user_grade.*,department_name from user,user_grade,department
        where user_id = u_id and user.department_id = department.department_id) as a
        left join staff on identity = a.idcard
        where  a.year = #{year}
        <if test="status &gt; 0"> and a.status = #{status}</if>
        <if test="sName!=''">and a.user_name like CONCAT('%',#{sName},'%')</if>
        <if test="sTel!=''">and a.phone_number like CONCAT('%',#{sTel},'%')</if>
        <if test="sId!=''">and a.idcard like CONCAT('%',#{sId},'%')</if>
        <if test="category gt 0">and people_category = #{category}</if>
    </select>
    
    <select id="queryAllParamByParam" resultType="com.zzu.staff.achievement.entity.UserParam">
        select a.*,staff.composite_index
        from
        (select `user`.*,user_grade.*,department_name from user,user_grade,department
        where user_id = u_id and user.department_id = department.department_id and year = #{year}) as a
        left join staff on identity = a.idcard where a.department_id = #{sDepart}
        <if test="status gt 0">and a.status = #{status}</if>
        <if test="sName!=''">and a.user_name like CONCAT('%',#{sName},'%')</if>
        <if test="sTel!=''">and a.phone_number like CONCAT('%',#{sTel},'%')</if>
        <if test="sId!=''">and a.idcard like CONCAT('%',#{sId},'%')</if>
        <if test="category gt 0">and people_category = #{category}</if>
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultType="com.zzu.staff.achievement.entity.User">
        select * from user where user_id = #{id}
    </select>

    <insert id="insert" parameterType="com.zzu.staff.achievement.entity.User">
        insert into user (user_id,user_name, passwd, sex, people_category, native_place, politics_status,
              nation, phone_number, idcard, department_id)
        values (#{userId},#{userName},#{passwd},#{sex},#{peopleCategory},#{nativePlace},#{politicsStatus},
              #{nation},#{phoneNumber},#{idcard},#{departmentId})
    </insert>

    <insert id="insertA" parameterType="com.zzu.staff.achievement.entity.User">
        insert into user (user_id,user_name, passwd, sex, people_category, native_place, politics_status,
                          nation, phone_number, idcard, department_id)
        values (#{userId},#{userName},#{passwd},#{sex},#{peopleCategory},#{nativePlace},#{politicsStatus},
                #{nation},#{phoneNumber},#{idcard},#{departmentId})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from user where user_id = #{id}
    </delete>

    <update id="changePasswd">
        update user set passwd = #{passwd} where phone_number = #{id}
    </update>

    <update id="update" parameterType="com.zzu.staff.achievement.entity.User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null and userName!=''">
                user_name = #{userName},
            </if>
            <if test="passwd!=null and passwd!=''">
                passwd = #{passwd},
            </if>
            <if test="sex!=null">
                sex = #{sex},
            </if>
            <if test="peopleCategory!=null and peopleCategory!=''">
                people_category = #{peopleCategory},
            </if>
            <if test="nativePlace!=null and nativePlace!=''">
                native_place = #{nativePlace},
            </if>
            <if test="politicsStatus!=null and politicsStatus!=''">
                politics_status = #{politicsStatus},
            </if>
            <if test="nation!=null and nation!=''">
                nation = #{nation},
            </if>
            <if test="phoneNumber!=null and phoneNumber!=''">
                phone_number = #{phoneNumber},
            </if>
            <if test="idcard!=null and idcard!=''">
                idcard = #{idcard},
            </if>
            <if test="departmentId!=null and departmentId!=''">
                department_id = #{departmentId},
            </if>

        </trim>
        where user_id = #{userId}
    </update>
</mapper>